<% if @user.user_info.nil? || @user.user_info.name.nil? %>
  <h3>Welcome, User</h3>
<% else %>
  <h3>Welcome, <%= @user.user_info.name %></h3>
<% end %>
<% if !Review.user_review(current_user).empty? %>
  <p>Your Reviews</p>
  <table border='1'>
    <tr>
      <th>Title</th>
      <th>Rating</th>
      <th>Body</th>
    </tr>
    <% Review.user_review(current_user).each do |review| %>
    <tr>
      <td><%= review.book.title %></td>
      <td><%= review.rating %></td>
      <td><%= review.summary %></td>
      <td><%= review.body %></td>
    <% end %>
    </tr>
  </table>
<% else %>
  <h3>You have not reviewed any books!</h3>
<% end %>
<%= link_to("My personal information", user_edit_path(current_user.id)) %>
<br>