<h3>Welcome, <%= @user.email %></h3>
<% if !Review.user_review(current_user).empty? %>
  <% Review.user_review(current_user).each do |review| %>
  <%= review.book.title %><br>
  <%= review.rating %><br>
  <%= review.summary %><br>
  <%= review.body %><br><br>
  <% end %>
<% else %>
  <h3>You have not reviewed any books!</h3>
<% end %>
