<div  class="book-table">
  <table id="book-info">
    <th>Book Information</th>
<!--    <th>Title: <%= @book.title %></th>
    <tr><td>Author: <%= @book.author %></td></tr>
    <tr><td>Released: <%= @book.year %></td></tr>
    <% if @book.fiction %>
      <tr><td>Fiction</td></tr>
    <% else %>
      <tr><td>Non-Fiction</td></tr>
    <% end %>
-->  </table>
</div>
<div class="links">
  <%= link_to("See reviews", book_review_path(@book), id: "show_reviews") %><br>
  <%= link_to("Write a review", new_book_review_path(@book), id: "write_review") %><br>
  <a href="/books">Return to index</a><br>
</div>
<p id="b_id" hidden=><%= @book.id %></p>
<script type="text/javascript">
  $(function () {
    var book_id = document.getElementById('b_id').innerHTML;
    $.ajax( { type: "GET", url: "/book/detail/" + book_id } ).done(function(book) {
      book.fiction ? fiction = "Yes" : fiction = "No";
      $('#book-info').append("<tr><td>Title: " + book.title + "</td></tr><tr><td>Author: " + book.author +
                             "</td></tr><tr><td>Released: " + book.year + "</tr></td><tr><td>Fiction: " + fiction + "</tr></td>");
    });       
    $('#show_reviews').click(function(event) {
      event.preventDefault();
      alert('So far, so good!');
    })
  })
</script>