<table class="book-table" id="book-info"></table>
<table id="reviews">
  <th>Reviews</th>
</table>
<div id="my_review"></div>
<div class="links">
  <%= link_to("See reviews", book_reviews_path(@book), id: "show_reviews") %><br>
  <% if @isReviewed %><%= link_to("Write a review", new_book_review_path(@book), id: "write_review") %><br><% end %>
  <a href="/books">Return to index</a><br>
</div>
<p id="b_id" hidden=><%= @book.id %></p>
<div id="new_form" hidden>
  <% @review = Review.new %>
  <%= form_for @review, url: {action: "create"} do |f| %>
      <%= f.label :summary, "Summary: " %>
      <%= f.text_field :summary %><br>
      <%= f.label :rating, "Rating: " %>
      <%= f.number_field :rating, in:1..5 %><br>
      <%= f.label :body, "Body: " %>
      <%= f.text_area :body, size: "50x10" %><br>
      <%= f.submit %>
  <% end %>
</div>
<%= javascript_include_tag "bookShow" %>