<div  class="book-table">
  <table id="book-info">
    <th>Book Information</th>
  </table>
</div>
<table id="reviews">
  <th>Reviews</th>
</table>
<div class="links">
  <%= link_to("See reviews", book_reviews_path(@book), id: "show_reviews") %><br>
  <%= link_to("Write a review", new_book_review_path(@book), id: "write_review") %><br>
  <a href="/books">Return to index</a><br>
</div>
<p id="b_id" hidden=><%= @book.id %></p>
<div id="new_form" hidden>
  <% @review = Review.new %>
  <%= form_for @review, url: {action: "create"} do |f| %>
      <%= f.label :summary, "Summary: " %>
      <%= f.text_field :summary %><br>
      <%= f.label :rating, "Rating: " %>
      <%= f.number_field :rating, in:1..5 %><br>
      <%= f.label :body, "Body: " %>
      <%= f.text_area :body, size: "50x10" %><br>
      <%= f.submit %>
  <% end %>
</div>
<script type="text/javascript">
  $(function () {
    var book_id = document.getElementById('b_id').innerHTML;
    $.ajax( { type: "GET", url: "/book/detail/" + book_id } ).done(function(book) {
      book.fiction ? fiction = "Yes" : fiction = "No";
      $('#book-info').append("<tr><td>Title: " + book.title + "</td></tr><tr><td>Author: " + book.author +
                             "</td></tr><tr><td>Released: " + book.year + "</tr></td><tr><td>Fiction: " + fiction + "</tr></td>");
    });       
    $('#show_reviews').click(function(event) {
      event.preventDefault();
      var reviews = $.ajax({ type: "GET", url: "/books/" + book_id + "/reviews/" + book_id }).done(function(review) {
        reviews.responseJSON.forEach(function (review) {
          $("#reviews").append("<tr><td>Reviewed by: " + review.user.email + "</td></tr><tr><td>Summary: " +
                               review.summary + "</td></tr><tr><td>Rating: " + review.rating + " stars</td></tr><tr><td>" +
                               review.body + "</td></tr>");
        })
        document.getElementById("show_reviews").remove();
      })
    })
    $('#write_review').click(function(event) {
      event.preventDefault();
      $('#new_form').removeAttr('hidden');
    })
    $( "form#new_review" ).on( "submit", function( event ) {
      event.preventDefault();
      
      $.ajax( { type: "POST", url: "/books/" + book_id + "/reviews", data: $(this).serialize()});
      
    });
  })
</script>