<h1>Edit Review</h1>
<%= form_for(@review) do |review| %>
  <%= review.label :summary %>
  <%= review.text_field :summary %>
  <%= review.label :rating %>
  <%= review.number_field :rating %>
  <%= review.label :body %>
  <%= review.text_field :body %>
  <%= review.submit %>
<% end %>